.hint {
  margin-top: calc(var(--mui-spacing) * 0.5);
  color: var(--mui-palette-text-secondary);
}

.author {
  margin-top: calc(var(--mui-spacing) * 2);
}

.list {
  margin: calc(var(--mui-spacing) * 2) 0 0;
  padding: 0;
  list-style: none;
}
